/* General body styles */

  
  /* Header */
  .header {
    width: 100%;
    height: 80px;
    background-color: #E9EFEC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 50;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    padding: 0 30px;
    position: relative;
  }

  @media (min-width: 768px) {
    .navbar {
      border-right: 2px solid #d1d5db; /* Keeping border-right on md devices */
      justify-content: center;
    }
  }
  
  /* Logo */
  .logo {
    font-weight: bolder;
    font-size: 30px;
    color: #16423C;
    padding-left: 30px; 
    transition: color 0.3s;
  }
  
  /* Navigation Links */
  .nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 50px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #1A4D2E!important;
    padding: 10px;
    font-size: 16px;
  }
  .nav-link:hover {
    color: #4F6F52!important;
  }
  
/* User Profile Icon */
.user {
  display: flex;
  align-items: center; /* Aligns the icon in the center vertically */
  padding: 10px;
}

.profile-icon {
  font-size: 20px; /* Adjust the icon size as needed */
  color: #94B49F; 
}

  
  