html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Main template container */
.authen-template {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

/* Image container styling */
.authen-template_image {
    flex: 1; 
    background-image: url('/src/assets/images/backgr.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Form container styling */
.authen-template_form {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

/*Title and message styles*/
.title{
    font-size: 2.5rem;
    color: #1A4D2E; 
    margin: 0.5rem 0;
}

.message{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8); 
    margin: 0.5rem 0;
    font-weight: normal;
    color: #1A4D2E; 
}

/* Input field styles */
.input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    border-color: #94b49f;
    &:hover, &:active, &:focus, &:visited{
        border-color: #163020!important;
    }
}
.input:focus{
    border-color: #163020!important;
}

.input-register{
    border-color: #94b49f !important;
}
/* Button styling */
.button {
    width: 50%;
    padding: 0.8rem;
    background-color: #94B49F;
    color: #163020;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem 0;     
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #CEE5D0;
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.button-google {
    width: 50%;
    padding: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 2px solid #94B49F;
    border-radius: 8px;
    font-size: 1;
    cursor: pointer;
    margin: 0.5rem 0;     
    transition: background-color 0.3s ease;
}
 .button-google:hover {
    background-color: #CEE5D0;
} 
.button-google::after{
    content: url('/src/assets/images/search.png');
    margin-left: 7px;
    vertical-align: middle;
}
/* Link styling */
 .authen-template_form a {
    text-decoration: none;
    color: #1A4D2E;
    margin-top: 1rem;
    display: block;
    text-align: center;
} 
.authen-template_form a:hover {
    color: #94B49F;
} 

.home-icon {
    position: absolute;
    top: 10px; /* Adjust this value to fine-tune */
    right: 10px; /* Adjust this value to fine-tune */
    font-size: 1.7rem;
    color: #94b49f; /* Matching the design */
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
  
.home-icon:hover {
    transform: scale(1.1);
    color: #7a937f; /* Darker color when hovered */
}
  
.home-icon svg {
    vertical-align: middle;
}
.forgot-password-modal {
  width: 400px; /* thiết lập chiều rộng của modal */
  padding: 25px; /* thêm padding để tạo khoảng cách */
  border-radius: 15px; /* thêm bo góc để tạo giao diện mềm mại */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);/* thêm bóng để tạo giao diện sâu */
}

.forgot-password-modal .ant-modal-title {
  font-size: 18px; /* thiết lập font size của tiêu đề */
  font-weight: bold; /* thiết lập font weight của tiêu đề */
}

 .forgot-password-modal .ant-modal-body {
  padding: 20px; /* thêm padding để tạo khoảng cách */
 }

.forgot-password-modal .ant-form-item {
  margin-bottom: 20px; /* thêm khoảng cách giữa các form item */
}
.forgot-password-modal .ant-input:hover, .forgot-password-modal .ant-input:focus {
    border-color: #94b49f !important; /* thiết lập màu viền của khung nhập khi hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* thiết lập bóng của khung nhập khi hover */
  }
.forgot-password-modal .ant-btn-primary {
  margin: 0 auto; /* thiết lập margin trái và phải là 0, margin trên và dưới là auto */
  display: block; /* thiết lập display là block để nút có thể nằm giữa */
  background-color: #94B49F; /* thiết lập màu nền của nút gửi */
  border-color: #94B49F; /* thiết lập màu viền của nút gửi */
  color: #163020; /* thiết lập màu chữ của nút gửi */
}
.forgot-password-modal .ant-btn-primary:hover {
    background-color: #CEE5D0 !important; /* thiết lập màu nền của button khi hover */
    border-color: #CEE5D0 !important;
    color: #163020 !important; /* thiết lập màu viền của button khi hover */
  }
/* Responsive adjustments */
@media (max-width: 768px) {
    .authen-template {
        flex-direction: column;
    }

    .authen-template_image {
        height: 30vh;
    }

    .authen-template_form {
        max-width: 100%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2rem;
    }

    .button, .button-google {
        width: 100%;
    }
}
